<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
    <style>
        table {
            margin: auto;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<p align="center"><a href="main">Main</a>|<a href="admin">Admin</a>|<a href="add">ADD</a></p>

<table border="3px">
    <tr>
        <h2><b>
            <th>ID</th>
            <th>NAME</th>
            <th>AGE</th>
        </b></h2>

    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
    </tr>
</table>
</body>
</html>